@import "https://cdn.jsdelivr.net/gh/aaaakshat/cm-web-fonts@latest/fonts.css";

body {
  max-width: 700px;
  padding: 12px;
  padding-bottom: 0;
  color: #000;
  background: #FFF;
  margin-right: 1%;
  font-family: "Computer Modern Serif", serif;
  color : black;
  font-size: 16px;
}
@media only screen and (min-width: 481px) {
  body {
    color: #000;
    background: #FFF;
    margin-right: 1%;
    font-family: "Computer Modern Serif", serif;
    color : black;
    font-size: 16px;  
  }
} 

h2 {
  font-size: 1.5em;
  font-weight: bolder;
}
h4 {
  font-size: 1em;
  font-weight: bolder;
}
ul.bibliography li { margin-top: 1.0em }
p { margin-top: 1em; margin-bottom: 0 }

a:link { 
  color: #006699;
  text-decoration: underline;
}
a:visited, A:active { color: #906; }

button.aslink {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

div.right {
  margin: 0;
  line-height: 1.1;
  text-align: left;
  position: absolute;
  top: 2em;
  right: 5%;
  left: 110px;
}

div.centered {
  margin: auto;
  width: 50%;
  padding: 10px;
}

div.main_left {
  margin: 0;
  font-size: 90%;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  position: absolute;
  top: 0em;
  right: auto;
  width: 100px;
}

div.project_left {
  margin-top: 16em;
  font-size: 90%;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  position: absolute;
  top: 0em;
  right: auto;
  width: 90px;
  border-right-color: black;
  border-right: solid;
}
