---
---
<div>
  {% if entry.external %}
  <a href="{{ entry.external }}">{{reference}}</a>
  {% else %}
  {{reference}}
  {% endif %}
  {{entry.note}}
</div>
<div>
  {% if link %}
  <a href="{{ link }}">[pdf]</a>
  {% endif %}
  {% if entry.doi %}
  <a href="https://doi.org/{{ entry.doi }}">[doi]</a>
  {% endif %}
  {% if entry.slides %}
  <a href=" {{ site.baseurl }}/resources/{{ entry.slides }}">[slides]</a>
  {% endif %}
  <button class="aslink" data-toggle="collapse" data-target="#{{entry.key}}_bibtex">[BibTex]</button>
  <pre id="{{entry.key}}_bibtex" class="collapse">{{ entry.bibtex }}</pre>
</div>