<!DOCTYPE html>
<html lang="en">
{% include html_head.html %}

<body>
  <div class="right">
    
    <br/>
    
    <h1>N&#8709;thing is Logical (NihiL)</h1>
   
    <hr/>
    
   <br/>
   <br/>
    
    {{ content }}
  </div>
  <div class="project_left">
    <a href="{{ site.baseurl }}/Nihil">Home</a><br /><br />
    <a href="{{ site.baseurl }}/Nihil/people">People</a><br /><br />
    <a href="{{ site.baseurl }}/Nihil/results">Results</a><br /><br />
    <a href="{{ site.baseurl }}/Nihil/contact">Contact</a><br /><br />
  </div>
</body>

</html>
